<div class="table" id="canvas">
    <div class="cell room monster" id="1" onclick="select2('1')"><img class="img-resize" src="static/img/Monsters/goblin.svg"></div>
    <div class="cell room monster" id="2" onclick="select2('2')"><img class="img-resize" src="static/img/Monsters/orc.svg"></div>
    <div class="cell room monster" id="3" onclick="select2('3')"><img class="img-resize" src="static/img/Monsters/zombie.svg"></div>
    <div class="cell room monster" id="4" onclick="select2('4')"><img class="img-resize" src="static/img/Monsters/mummy.svg"></div>
    <div class="cell room monster" id="5" onclick="select2('5')"><img class="img-resize" src="static/img/Monsters/skeleton.svg"></div>
    <div class="cell room monster" id="6" onclick="select2('6')"><img class="img-resize" src="static/img/Monsters/abomination.svg"></div>
    <div class="cell room monster" id="7" onclick="select2('7')"><img class="img-resize" src="static/img/Monsters/doom_warrior.svg"></div>
    <div class="cell room monster" id="8" onclick="select2('8')"><img class="img-resize" src="static/img/Monsters/gargoyle.svg"></div>
    <div class="cell room monster" id="9" onclick="select2('9')"><img class="img-resize" src="static/img/Monsters/chaossorcerer.svg"></div>
    <div class="cell room delete" id="10" onclick="select2('10')"><img class="img-resize" src="static/img/ui/trash.svg"></div>
    <div class="cell room helper" id="11" onclick="select2('11')"><svg viewBox="0 0 100 100"><rect x="0" y="0" width="100%" height="100%" /></svg></div>
    <div class="cell room helper" id="12" onclick="select2('12')"><img class="img-resize" src="static/img/Furniture/block_single.svg"></div>
    <div class="cell room" id="13" onclick="select2('14')"></div>
    <div class="cell room furniture" id="14" onclick="select2('14')"><img class="img-noresize-span-1x3" src="static/img/Furniture/bookcase.svg"></div>
    <div class="cell room" id="15" onclick="select2('14')"></div>
    <div class="cell room" id="16" onclick="select2('17')"></div>
    <div class="cell room furniture" id="17" onclick="select2('17')"><img class="img-noresize-span-1x3" src="static/img/Furniture/cupboard.svg"></div>
    <div class="cell room" id="18" onclick="select2('17')"></div>
    <div class="cell room" id="19" onclick="select2('20')"></div>
    <div class="cell room furniture" id="20" onclick="select2('20')"><img class="img-noresize-span-1x3" src="static/img/Furniture/fireplace.svg"></div>
    <div class="cell room" id="21" onclick="select2('20')"></div>
    <div class="cell room furniture" id="22" onclick="select2('22')"><img class="img-noresize-span-2x2" src="static/img/Furniture/stairs.svg"></div>
    <div class="cell room" id="23" onclick="select2('22')"></div>

    <div class="cell room furniture" id="24" onclick="select2('24')"><img id="door" class="img-resize" src="static/img/Furniture/door.svg"></div>
    <div class="cell room" id="25" onclick="select2('22')"></div>
    <div class="cell room" id="26" onclick="select2('22')"></div>
    <div class="cell room furniture" id="27" onclick="select2('27')"><img class="img-resize" src="static/img/Furniture/secret_door.svg"></div>
    <div class="cell room furniture" id="28" onclick="select2('28')"><img class="img-noresize-span-1x2" src="static/img/Furniture/block_double.svg"></div>
    <div class="cell room" id="29" onclick="select2('28')"></div>
    <div class="cell room furniture" id="30" onclick="select2('30')"><img class="img-resize" src="static/img/Furniture/throne.svg"></div>
    <div class="cell room furniture" id="31" onclick="select2('31')"><img class="img-noresize-span-2x3" src="static/img/Furniture/table.svg"></div>
    <div class="cell room" id="32" onclick="select2('31')"></div>
    <div class="cell room" id="33" onclick="select2('31')"></div>
    <div class="cell room" id="34" onclick="select2('31')"></div>
    <div class="cell room" id="35" onclick="select2('31')"></div>
    <div class="cell room" id="36" onclick="select2('31')"></div>
    <div class="cell room furniture" id="37" onclick="select2('37')"><img class="img-noresize-span-2x3" src="static/img/Furniture/alchemists_desk.svg"></div>
    <div class="cell room" id="38" onclick="select2('37')"></div>
    <div class="cell room" id="39" onclick="select2('37')"></div>
    <div class="cell room" id="40" onclick="select2('37')"></div>
    <div class="cell room" id="41" onclick="select2('37')"></div>
    <div class="cell room" id="42" onclick="select2('37')"></div>
    <div class="cell room furniture" id="43" onclick="select2('43')"><img class="img-noresize-span-2x3" src="static/img/Furniture/torture_rack.svg"></div>
    <div class="cell room" id="44" onclick="select2('43')"></div>
    <div class="cell room" id="45" onclick="select2('43')"></div>
    <div class="cell room" id="46" onclick="select2('43')"></div>
    <div class="cell room" id="47" onclick="select2('43')"></div>
    <div class="cell room" id="48" onclick="select2('43')"></div>
    <div class="cell room furniture" id="49" onclick="select2('49')"><img class="img-noresize-span-2x3" src="static/img/Furniture/tomb.svg"></div>
    <div class="cell room" id="50" onclick="select2('49')"></div>
    <div class="cell room" id="51" onclick="select2('49')"></div>
    <div class="cell room" id="52" onclick="select2('49')"></div>
    <div class="cell room" id="53" onclick="select2('49')"></div>
    <div class="cell room" id="54" onclick="select2('49')"></div>
    <div class="cell room furniture" id="55" onclick="select2('55')"><img class="img-noresize-span-2x3" src="static/img/Furniture/sorcerers_table.svg"></div>
    <div class="cell room" id="56" onclick="select2('55')"></div>
    <div class="cell room" id="57" onclick="select2('55')"></div>
    <div class="cell room" id="58" onclick="select2('55')"></div>
    <div class="cell room" id="59" onclick="select2('55')"></div>
    <div class="cell room" id="60" onclick="select2('55')"></div>
    <div class="cell room" id="61" onclick="select2('62')"></div>
    <div class="cell room furniture" id="62" onclick="select2('62')"><img class="img-noresize-span-1x3" src="static/img/Furniture/weapon_rack.svg"></div>
    <div class="cell room" id="63" onclick="select2('62')"></div>
    <div class="cell room tile" id="64" onclick="select2('64')"><img class="img-resize-tile" src="static/img/Furniture/trap_pit.svg"></div>
    <div class="cell room tile" id="65" onclick="select2('65')"><img class="img-resize-tile" src="static/img/Furniture/trap_spear.svg"></div>
    <div class="cell room tile" id="66" onclick="select2('66')"><img class="img-resize-tile" src="static/img/Furniture/trap_block.svg"></div>
    <div class="cell room furniture" id="67" onclick="select2('67')"><img class="img-resize" src="static/img/Furniture/chesttrap.svg"></div>
    <div class="cell room furniture" id="68" onclick="select2('68')"><img class="img-resize" src="static/img/Furniture/chest.svg"></div>
    <div class="cell room" id="69" onclick="select2('69')"></div>
    <div class="cell room monster" id="70" onclick="select2('70')"><img class="img-resize" src="static/img/Heroes/barbarian.svg"></div>
    <div class="cell room monster" id="71" onclick="select2('71')"><img class="img-resize" src="static/img/Heroes/dwarf.svg"></div>
    <div class="cell room monster" id="72" onclick="select2('72')"><img class="img-resize" src="static/img/Heroes/elf.svg"></div>
    <div class="cell room monster" id="73" onclick="select2('73')"><img class="img-resize" src="static/img/Heroes/wizard.svg"></div>
    <div class="cell room tile" id="74" onclick="select2('74')"><img class="img-resize-tile" src="static/img/Markings/arrow_diagonal.svg"></div>
    <div class="cell room tile" id="75" onclick="select2('75')"><img class="img-resize-tile" src="static/img/Markings/arrow.svg"></div>
    <div class="cell room tile" id="76" onclick="select2('76')"><img class="img-resize-tile" src="static/img/Markings/letterA.svg"></div>
    <div class="cell room tile" id="77" onclick="select2('77')"><img class="img-resize-tile" src="static/img/Markings/letterB.svg"></div>
    <div class="cell room tile" id="78" onclick="select2('78')"><img class="img-resize-tile" src="static/img/Markings/letterC.svg"></div>
    <div class="cell room tile" id="79" onclick="select2('79')"><img class="img-resize-tile" src="static/img/Markings/letterD.svg"></div>
    <div class="cell room tile" id="80" onclick="select2('80')"><img class="img-resize-tile" src="static/img/Markings/letterE.svg"></div>
    <div class="cell room tile" id="81" onclick="select2('81')"><img class="img-resize-tile" src="static/img/Markings/letterF.svg"></div>
    <div class="cell room tile" id="82" onclick="select2('82')"><img class="img-resize-tile" src="static/img/Markings/letterG.svg"></div>
    <div class="cell room tile" id="83" onclick="select2('83')"><img class="img-resize-tile" src="static/img/Markings/letterH.svg"></div>
    <div class="cell room tile" id="84" onclick="select2('84')"><img class="img-resize-tile" src="static/img/Markings/letterI.svg"></div>
    <div class="cell room tile" id="85" onclick="select2('85')"><img class="img-resize-tile" src="static/img/Markings/letterJ.svg"></div>
    <div class="cell room tile" id="86" onclick="select2('86')"><img class="img-resize-tile" src="static/img/Markings/letterK.svg"></div>
    <div class="cell room tile" id="87" onclick="select2('87')"><img class="img-resize-tile" src="static/img/Markings/letterL.svg"></div>
    <div class="cell room tile" id="88" onclick="select2('88')"><img class="img-resize-tile" src="static/img/Markings/letterM.svg"></div>
    <div class="cell room tile" id="89" onclick="select2('89')"><img class="img-resize-tile" src="static/img/Markings/number1.svg"></div>
    <div class="cell room tile" id="90" onclick="select2('90')"><img class="img-resize-tile" src="static/img/Markings/number2.svg"></div>
    <div class="cell room tile" id="91" onclick="select2('91')"><img class="img-resize-tile" src="static/img/Markings/number3.svg"></div>
    <div class="cell room tile" id="92" onclick="select2('92')"><img class="img-resize-tile" src="static/img/Markings/number4.svg"></div>
    <div class="cell room tile" id="93" onclick="select2('93')"><img class="img-resize-tile" src="static/img/Markings/number5.svg"></div>
    <div class="cell room tile" id="94" onclick="select2('94')"><img class="img-resize-tile" src="static/img/Markings/number6.svg"></div>
    <div class="cell room tile" id="95" onclick="select2('95')"><img class="img-resize-tile" src="static/img/Markings/number7.svg"></div>
    <div class="cell room tile" id="96" onclick="select2('96')"><img class="img-resize-tile" src="static/img/Markings/number8.svg"></div>
    <div class="cell room tile" id="97" onclick="select2('97')"><img class="img-resize-tile" src="static/img/Markings/number9.svg"></div>
    <div class="cell room tile" id="98" onclick="select2('98')"><img class="img-resize-tile" src="static/img/Markings/number10.svg"></div>
    <div class="cell room tile" id="99" onclick="select2('99')"></div>
</div>
