<nav class="topnav">
    <a href="/" class="logo">
      <img src="/static/img/ui/logo.png" alt="CS50 HeroQuest Builder logo">
    </a>
    <ul class="nav-links">
      {% if session["user_id"] %}
        <li class="nav-item"><a href="#" onclick="window.print()">Print Map</a></li>
        <li class="nav-item"><a href="/">New Map</a></li>
        <li class="nav-item"><a href="/loadmap">Load/Delete Map</a></li>
        <li class="nav-item"><a href="#" onclick="SendMapData()">Save Map</a></li>
        <li class="nav-item"><a href="/credits">Credits</a></li>
        <li class="nav-item"><a href="/logout">Log out</a></li>
      {% else %}
        <li class="nav-item"><a href="/register">Register</a></li>
        <li class="nav-item"><a href="/login">Sign in</a></li>
      {% endif %}
    </ul>
</nav>
