{% extends "layout.html" %}

{% block title %}
    Credits
{% endblock %}

{% block body %}
    <div class="notes">
        HeroQuest and the graphics used by hQuestBuilder are © Milton Bradley Company/Hasbro, Inc. and are not intended as a challenge to the rights of these respective companies in regard to HeroQuest. <a href="https://www.hasbropulse.com/collections/avalon-hill-heroquest" target="_blank">Homepage</a>
        <br>
        Thanks to /u/Banjo-Oz for supplying his HQ21 SVG set - Please visit his <a href="https://banjogames.wordpress.com" target="_blank">website</a>
        <br>
        Thanks to /u/squidgem0nster the creator of hQuestBuilder for providing me inspiration on HeroQuest CS50 builder - please visit his <a href="https://www.hquestbuilder.com" target="_blank">map creator tool</a>
        <br>
        Version : {{version}}
    </div>
{% endblock %}
