{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form action="/register" method="post">
        <div>
            <input class="inputhq" autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input class="inputhq" name="password" placeholder="Password" type="password">
            <input class="inputhq" name="confirmpassword" placeholder="Confirm Password" type="password">
        </div>
        <button class="buttonhq" type="submit">Register</button>
    </form>
{% endblock %}
